@import "@fontsource/montserrat-alternates";
@import "@fontsource/kanit";
@import './Variables.scss';
@import './Mixins.scss';

.printToPdf {
    .css-z5c9v7-MuiGrid-root>.MuiGrid-item { padding-left: 0; }
}
.proj-card {
    .bg-card{
        color: inherit;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #666 !important;
            color: #fff;
        }
    }
    &:nth-child(odd) {
        .bg-card { background-color: rgba(#CCA448, 0.2); }
        
    }
    &:nth-child(even) {
        .bg-card { background-color: rgba(#4A4A48, 0.2); }
    }
}
.menuStyle {
    tr:hover {
        background-color: #f5f5f5;
        border-radius: 15px;
    }
    td:first-child {
        width: 100%;
        text-align: center;
    }
}
#footer {
    background-color: #f7f3f36f;
    border-top: 1px solid #ccc;
}
.btn-confirm-logout {
    color: #000 !important;
}
.projectCard, .dashboard {
    .MuiBox-root.css-0 {
        width: 100%;
        margin-left: 1em;
    }
}